#contenido{
	height: 500px;
}

#title{
	margin-top: 30px;
	font-size: 20px;
	font-family: 'Oxygen-Bold', sans-serif;
}

#myCanvas {
        height: 5px;
        background-color: #7A95FF;
        margin-top: 10px;
        margin-bottom: 15px;
}

#depi{
	margin-top: 30px;
}

@media only screen { 
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 35px;
		text-align: right;
		margin-top: 35px;
	}

    #itm{
		background-color: black;
    	
    }

    #pie{
		background-color: black;
    	height: 75px;
    	
    }

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 20px;
		background-color: black;
		height: 75px;
    	vertical-align: center;
	}

	#now {
		font-size: 20px;
		font-family: 'Droid Sans', sans-serif;
	}

	#news {
		font-size: 15px;
		font-family: 'Droid Sans', sans-serif;
	}
}

@media only screen and (max-width: 942px) {
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 30px;
		text-align: right;
		margin-top: 10px;
		margin-bottom: 20px;
	}

    #pie{
		background-color: black;
    	height: 75px;
    }

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 18px;
		background-color: black;
		height: 75px;
    	vertical-align: center;
	}

	[class*="block-grid-"] {
		font-size: 14px;
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	#now {
		font-size: 16px;
		font-family: 'Droid Sans', sans-serif;
	}

	#news {
		font-size: 13px;
		font-family: 'Droid Sans', sans-serif;
	}
}

@media only screen and (max-width: 480px) {
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 18px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

    #itm{
		background-color: black;
    	
    }

    #pie{
		background-color: black;
    	height: 75px;
    }

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 12px;
		background-color: black;
    	height: 75px;
    	vertical-align: center;
	}	

	#now {
		font-size: 15px;
		font-family: 'Droid Sans', sans-serif;
		font-style: italic;
	}

	#news {
		font-size: 12px;
		font-family: 'Droid Sans', sans-serif;
	}
}

@media only screen and (max-width: 320px) {
	#now {
		font-size: 15px;
		font-family: 'Droid Sans', sans-serif;
		font-style: italic;
	}
	#news {
		font-size: 12px;
		font-family: 'Droid Sans', sans-serif;
	}
}