@media only screen { 
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 35px;
		text-align: right;
		margin-top: 35px;
	}

	#foot{
		background-color: black;
		height: 75px;
	}

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 25px;
		color: white;
		background-color: black;
		height: 75px;
	}
}

@media only screen and (max-width: 942px) {
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 30px;
		text-align: right;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#foot{
		background-color: black;
		height: 75px;
	}

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 18px;
		color: white;
		background-color: black;
		height: 75px;
	}

}

@media only screen and (max-width: 480px) {
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 18px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#foot{
		background-color: black;
		height: 75px;
	}

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 14px;
		color: white;
		background-color: black;
		height: 75px;
	}
}

