#contenido{
	height: 500px;
}

#news{
	margin-top: 30px;
}

#new, article > header {
	font-size: 21px;
	font-family: 'Oxygen', sans-serif;
}

#new, article {
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
}

#depi{
	margin-top: 30px;
}


#myCanvas {
	width: 220px;
	height: 5px;
	background-color: #7A95FF;
}

@media only screen { 
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 35px;
		text-align: right;
		margin-top: 35px;
	}

    #itm{
		background-color: black;
    	
    }

    #pie{
		background-color: black;
    	height: 75px;
    	
    }

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 20px;
		background-color: black;
		height: 75px;
    	vertical-align: center;
	}
}

@media only screen and (max-width: 942px) {
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 30px;
		text-align: right;
		margin-top: 10px;
		margin-bottom: 20px;
	}

    #pie{
		background-color: black;
    	height: 75px;
    }

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 18px;
		background-color: black;
		height: 75px;
    	vertical-align: center;
	}

	[class*="block-grid-"] {
		font-size: 14px;
		text-align: center;
	}

}

@media only screen and (max-width: 480px) {
	.titulo{
		font-family: 'Droid Sans', sans-serif;
		font-size: 18px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

    #itm{
		background-color: black;
    	
    }

    #pie{
		background-color: black;
    	height: 75px;
    }

	#redes{
		font-family: 'Droid Sans', sans-serif;
		font-size: 12px;
		background-color: black;
    	height: 75px;
    	vertical-align: center;
	}	
}

