{% extends '::backendlayout.html.twig' %}

{% block header %}
    <div class="header">    
        <div class="units-row">
            <div class="units unit-50">
                <img src="{{ asset('bundles/portada/img/header.png') }}"/>
            </div>
            <div class="units unit-50">
              <div class="tituloAlogin">División de estudios de</div>
              <div class="tituloBlogin">Posgrado e Investigación</div>
          </div>
        </div>
    </div>
{% endblock %}

{% block body %}
  <div id="contenido" class="units-row">
    <div class="unit-centered unit-40">
	    <fieldset>
		    {% block fos_user_content %}
		    {% endblock fos_user_content %}
      </fieldset>
    </div>
  </div>
{% endblock %}