{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Áreas de investigación</li>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="small-12 large-8 push-2 columns">
        <dl class="accordion" data-accordion>
            {% for entity in entities %}
                <dd class="accordion-navigation">
                    <a href="#">{{ entity.nombre }}</a>
                    <div class="content">
                        {{ entity.descripcion }}
                    </div>
                </dd>
            {% endfor %}
        </dl>  
    </div>
</div>
{% endblock %}