{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Áreas de investigación</li>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="small-12 large-8 push-2 columns">
        <div class="section-container accordion" data-section="accordion">
        {% for entity in entities %}
        <section>
            <div class="title" data-section-title><a href="#">{{ entity.nombre }}</a></div>
            <div class="content" data-section-content>
                {{ entity.descripcion }}
            </div>
        </section>
        {% endfor %}
        </div>    
    </div>
</div>
{% endblock %}