{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Áreas de investigación</li>
{% endblock %}

{% block contenido %}
<div class="row">
    <ul class="large-8 push-2 columns">
        {% for entity in entities %}
            <li><a href="{{ path('areas_info', { 'id': entity.id }) }}">{{ entity.nombre ~ "."}}</a></li>
        {% endfor %}
    </ul>
    <div id="areas">
    	
    </div>
</div>
{% endblock %}