{% extends '::backend.html.twig' %}

{% block body %}
    <h3>Áreas</h3>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('areas') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
