{% extends '::backend.html.twig' %}

{% block body %}
<div class="units-row">
    <div class="unit-centered unit-40">
    	<h3>Áreas</h3>

    	{{ form(form, {'attr': {'class': 'forms forms-inline'}}) }}

        <ul class="record_actions">
		    <li>
		        <a href="{{ path('areas') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>
    </div>
</div>
{% endblock %}

{% block lateral %}
    <ul>
        <li><a href="{{ path('areasproyectos') }}">Areas-Proyectos</a></li>
    </ul>
{% endblock %}
