<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Administración{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/kube.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/master.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
   
        <div class="units-row">
            <div class="unit-20">
                <div class="unit-push-20 unit-80">
                <nav class="nav-v nav-stacked nav-stats">
                {% block lateral %}
                    <ul>
                        <li><a href="http://www.itmexicali.edu.mx/">Instituto Tecnológico de Mexicali</a></li>
                        <li><a href="{{ path('portada') }}">División de estudios de posgrado e investigación</a></li>
                        <li><a href="http://www.snit.mx/">Dirección General</a></li>
                    </ul>
                {% endblock %}
                </nav>
                </div>
            </div>
            <div class="unit-80">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div class="units-row">
                {% block opciones %}
                {% endblock %}
        </div> 
    </body>
</html>