<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Posgrado e Investigación{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="row">
            <!-- Header -->
            <div class="row">    
                {% block header %}{% endblock %} 
            </div> 
            <!-- Banner -->
            <div class="row">
                <div class="large-12 columns">    
                    {% block banner %}{% endblock %}
                 </div> 
            </div>
            <!-- Menu -->
            <div class="row">
                <div class="large-12 columns"> 
                    {% block menu %}{% endblock %}
                </div> 
            </div>    
            <!-- Contenido --> 
            <div class="row">
                <div id="contenido" class="large-12 columns">
                    {% block body %}{% endblock %}
                </div> 
            </div>   
            <!-- Enlaces -->
            <div class="row">
                <div class="large-12 columns">
                    {% block enlaces %}{% endblock %}
                </div>
            </div>
            <footer class="row">
                <div class="large-12 columns">
                    <div id="pie" class="large-10 columns">
                        <img src="{{ asset('bundles/portada/img/footer.svg') }}"/>
                    </div> 
                    <div id="redes" class="large-2 columns">
                        <label>Síguenos en:</label>
                        <a class="webicon facebook" href="#">Facebook</a>
                        <a class="webicon googleplus" href="#">Google+</a>
                        <a class="webicon twitter" href="#">Twitter</a>
                    </div> 
                </div>
            </footer>
            <!-- JavaScripts -->
            {% block javascripts %}{% endblock %}        
        </div>
    </body>
</html>