<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% else %}

            {% endif %}
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>