{% extends '::backend.html.twig' %}

{% block body -%}
    <h3>Proyectos</h3>

    {{ form(form, {'attr': {'class': 'forms forms-inline'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('proyectos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block lateral %}
    <ul>
        <li><a href="{{ path('alumnosproyectos') }}">Alumnos y Proyectos</a></li>
        <li><a href="{{ path('areasproyectos') }}">Areas y Proyectos</a></li>
    </ul>
{% endblock %}