{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Alumnos</li>
{% endblock %}

{% block contenido %}
<ul class="small-block-grid-3 large-block-grid-7" align="center">
	 {% for alumno in alumnos %}
	 <li>
	 	<a href="#" data-reveal-id="modal{{ alumno.id }}">
            {% if alumno.rutaFoto %}        
                <img id="foto" src="{{ asset( directorio_alumnos ~ alumno.rutaFoto ) }}" />      
            {% else %}
                <img id="foto" src="{{ asset( directorio_alumnos ~ 'unknown-person.gif' ) }}" />
            {% endif %}
        </a>
        {% include 'AlumnosBundle:Alumnos:alumnosconproyecto_public.html.twig' %}
	 </li>
	 {% endfor %}
</ul>
{% endblock %}
