{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Líneas de investigación</li>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="large-8 large-centered columns">
        <table>
            <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Objetivo</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td width="200">
                            {{ entity.nombre }}
                        </td>
                        <td width="400">
                            {{ entity.descripcion }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
</div>
{% endblock %}