{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h3>Líneas de investigación</h3>

    {{ form(form, {'attr': {'class': 'forms forms-inline'}}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('lineas') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Enlaces</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('investigadoreslineas') }}">Investigadores-Lineas</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
