{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h3>Líneas de investigación</h3>

    {{ form(form, {'attr': {'class': 'forms forms-inline'}}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('lineas') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}