{% extends '::backend.html.twig' %}

{% block body %}
    <h3>Investigadores</h3>

    {{ form(edit_form, {'attr': {'class': 'forms forms-inline'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('investigadores') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
