{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Investigadores</li>
{% endblock %}

{% block contenido %}
<ul class="small-block-grid-3 large-block-grid-7" align="center">
    {% for entity in entities %}   
    <li>
        <a href="#" data-reveal-id="modal{{ entity.id }}">
            {% if entity.rutaFoto %}        
                <img id="foto" src="{{ asset( directorio_investigadores ~ entity.rutaFoto ) }}" />      
            {% else %}
                <img id="foto" src="{{ asset( directorio_investigadores ~ 'unknown-person.gif' ) }}" />
            {% endif %}
        </a>
        {% include 'InvestigadoresBundle:Investigadores:investigadoresdatos_public.html.twig' %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
