{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-100">
    <h1>ProyectosProductos creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('proyectosproductos') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}