sitio:
    pattern:  /depi
    defaults: { _controller: PortadaBundle:Sitio:index }

directorio:
    pattern:  /directorio
    defaults: { _controller: PortadaBundle:Sitio:directorio }

portada:
    pattern:  /posgradmin/portada
    defaults: { _controller: PortadaBundle:Portada:index }

_portada:
    pattern: /posgradmin/portada/
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: portada}

portada_new:
    pattern:  /posgradmin/portada/new
    defaults: { _controller: PortadaBundle:Portada:new }

portada_edit:
    pattern:  /posgradmin/portada/edit/{id}
    defaults: { _controller: PortadaBundle:Portada:edit }

portada_create:
    pattern:  /posgradmin/portada/create
    defaults: { _controller: PortadaBundle:Portada:create }

portada_update:
    pattern:  /posgradmin/portada/update/{id}
    defaults: { _controller: PortadaBundle:Portada:update }

portada_delete:
    pattern:  /posgradmin/portada/delete/{id}
    defaults: { _controller: PortadaBundle:Portada:delete }
