/* =Typography
-----------------------------------------------------------------------------*/

textarea {
	resize: none;
}

legend {
	text-transform: uppercase;
}

#foto {
	height: 150px;
}

#forBanner {
	width:  250px;
	height: 75px;
}

/* =Links
-----------------------------------------------------------------------------*/

.enlace a {
 	text-decoration: none;
 	color: #333333;
}

.enlace a:focus,
.enlace a:hover {
	text-decoration: none;
	color: #333333;
}

/* =Layout
-----------------------------------------------------------------------------*/
body {
	margin: auto;
	max-width: 980px;
	padding: 36px 10px;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	overflow: hidden;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #eee;
}
#header h1 {
	float: left;
	margin: 0;
}
#header nav {
	margin-top: 30px;
	padding-top: 10px;
	float: right;
}


/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/
th {
	font-weight: bold; /*Formato de letra en negrita*/
}

a img,  #action{
	width: 25px;
	height: 25px;
}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	border-top: 1px solid #eee;
	padding-top: 1.5em;
	margin: 1.5em 0;
	font-size: .85em;
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    body { width: 748px; }
}

/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	body { width: 300px; }
	#nav, #header h1 { float: none; }
	#header h1 { margin-bottom: .5em; }
	#nav ul li { margin: 0; float: none; margin-bottom: 1px; background-color: #f6f6f6; }
	#nav ul li a, #nav ul li span { display: block; padding: 2px 5px; }
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body { width: 420px; }
}