{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h1>InvestigadorProyecto creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
	    <li>
	        <a href="{{ path('investigadorproyecto') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
</div>
{% endblock %}
