{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Directorio</li>
{% endblock %}

{% block contenido %}
<div class="row">
	<section id="directorio" class="small-4 large-8 large-centered columns">
		<header>
			<h4>Jefe de la División de Posgrado e Investigación</h4>
		</header>
		<body>
			<h5>MC. Juan Francisco Ibáñez Salas</h5>
		</body>
		<footer>
			<a href="mailto:posgrado@itmexicali.edu">Correo Posgrado</a> - <a href="mailto:pacois20@gmail.com">Correo Responsable</a>
		</footer>
	</section>

	<section id="directorio" class="small-4 large-8 large-centered columns">
		<header>
			<h4>Coordinador de la Maestría en Ingeniería Electrónica</h4>
		</header>
		<body>
			<h5>Dr. Arnoldo Díaz Ramírez</h5>
		</body>
		<footer>
			<a href="mailto:adiaz@itmexicali.edu.mx">Correo</a>
		</footer>
	</section>

	<section id="directorio" class="small-4 large-8 large-centered columns">
		<header>
			<h4>Coordinador de Proyectos de Investigación</h4>
		</header>
		<body>
			<h5>MC. Heber Samuel Hernandez Tabares</h5>
		</body>
		<footer>
			<a href="mailto:heberhdz@hotmail.com">Correo</a>
		</footer>
	</section>
</div>
{% endblock %}

