{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Directorio</li>
{% endblock %}


{% block contenido %}
<div class="row">
	<section id="directorio" class="small-4 large-8 large-centered columns">
		<header>
			MC. Juan Francisco Ibáñez Salas
			<br><br>
			Jefe de la División de Posgrado e Investigación
		</header>
				
		<footer>
			<a href="mailto:posgrado@itmexicali.edu">Correo Posgrado</a> - <a href="mailto:pacois20@gmail.com">Correo Responsable</a>
		</footer>
	</section>

	<section id="directorio" class="small-4 large-8 large-centered columns">
		<header>
			Dr. Arnoldo Díaz Ramírez
			<br><br>
			Coordinador de la Maestría en Ingeniería Electrónica
		</header>

		<footer>
			<a href="mailto:adiaz@itmexicali.edu.mx">Correo</a>
		</footer>
	</section>

	<section id="directorio" class="small-4 large-8 large-centered columns">
		<header>
			MC. Heber Samuel Hernandez Tabares
			<br><br>
			Coordinador de Proyectos de Investigación
		</header>
		
		<footer>
			<a href="mailto:heberhdz@hotmail.com">Correo</a>
		</footer>
	</section>
</div>
{% endblock %}

