{% extends '::frontend.html.twig' %}

{% block contenido %}
	<h2> Directorio</h2> 
	<div id="depi" class="small-9 push-2 columns">
		<h3>Jefe de la División de Posgrado e Investigación</h3>
		<h4 ALIGN=center>MC. Juan Francisco Ibáñez Salas</h4>
		<p ALIGN=center><a href="mailto:posgrado@itmexicali.edu">Correo Posgrado</a> - <a href="mailto:pacois20@gmail.com">Correo Responsable</a> - <a href="http://cachanilla.itmexicali.edu.mx/~pacois/">Web</a></p><br>
		<h3>Coordinador de la Maestría en Ingeniería Electrónica</h3>
    		<h4 ALIGN=center>Dr. Arnoldo Díaz Ramírez</h4>
    		<p ALIGN=center><a href="mailto:adiaz@itmexicali.edu.mx">Correo</a></p><br>
		<h3>Coordinador de Proyectos de Investigación</h3>
		<h4 ALIGN=center>MC. Heber Samuel Hernandez Tabares</h4> <br>
		<p ALIGN=center><a href="mailto:heberhdz@hotmail.com">Correo</a></p>
	</div>
{% endblock %}

