{% extends '::frontend.html.twig' %}

{% block imagenesBanner %}
	{% for imagen in banner %}
		<li><img src="{{ asset('uploads/images/portada/') ~ imagen.imagenBanner }}"/></li>
	{% endfor %}
{% endblock %}

{% block contenido %}
<article class="large-3 columns">
	<div class="row">
		<header id="title"  class="large-12 columns">
			Noticias
		</header>
		<canvas id="myCanvas"  class="large-12 columns"></canvas>
	</div>
	{% for noticia in noticias %}
	<section class="row">
		<div id="now" class="small-2 large-3 columns">
			{{ noticia.fechaPublicacion|date('d M') }}
		</div>
		<p id="news" class="small-10 large-9 columns">
			{{ noticia.contenido }}
		</p>
	</section>
	{% endfor %}
</article>    
<div id="depi" class=" large-8 columns">
<br><br><br>
    <p>
		<u><b>La Maestría en Ingeniería Electrónica</b></u>, cuenta con dos líneas de trabajo, <b>Computación Ubicua</b> y <b>Procesamiento digital de señales</b>, estas tiene un gran espectro reticular, permitiendo al alumno y a su asesor mucha flexibilidad en cuanto a la elección de materias, de acuerdo a su perfil de licenciatura y de sus intereses profesionales
	</p>

</div>	
{% endblock %}
