{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-100">
    <h1>AreasProyectos creation</h1>

    {{ form(form, {'attr': {'class': 'forms forms-inline'}}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('areasproyectos') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}
